@mixin position ($position, $width, $height) {
    position: $position;
    width: $width;
    height: $height;
}
@mixin text-type ($fz, $fw, $color){
    color: $color;
    font-size: $fz;
    font-weight: $fw;
}
.main-block__block {
    display: flex;
}
.main-block__body{
    margin-right: 148px;
}
.body__quantity {
    @include text-type(15px, 600, rgba(32, 31, 31, 0.20));
    padding-left: 80px;
    position: relative;
    line-height: 120%; /* 18px */
    letter-spacing: 2px;
    margin-bottom: 18px;
}
.body__quantity::before {
    content: "";
    @include position(absolute, 54px, 1px);
    opacity: 0.2;
    background: #201F1F;
    top: 8px;
    left: 0;
}
.body__title {
    @include text-type(75px, 600, #201F1F);
    width: 567px;
    line-height: 120%; /* 90px */
    letter-spacing: -3px;
    margin-bottom: 16px;
}
.body__title span{
    color: #5C4EAE;
}
.body__text {
    width: 499px;
    color: #676767;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    opacity: 0.7;
    margin-bottom: 53px;
}
.body__text span{
    color: #6155AE;
}
.body__buttons {
    display: flex;
    gap: 18px;
    margin-bottom: 33px;
}
.body__button {
    @include text-type(16.271px, 500, #FFF);
    padding: 18px 31px;
    letter-spacing: 0.163px;
    text-transform: capitalize;
    border-radius: 12.412px;
    background: #6C5FBC;
    border: 1px solid #6C5FBC;
    transition-duration: 0.8s;
}
.body__button:hover {
    color: #6C5FBC;
    background-color: #F9F9F9;
}
.body__button_gopro {
    border: 1.5px solid #6C5FBC;
    color: #6C5FBC;
    background: #F9F9F9;
}
.body__rating {
    display: flex;
    align-items: center;
}
.body__subtitle {
    margin-right: 20px;
}
.body__stars {
    margin-right: 10px;
}
.body__comments{
    @include text-type(16px, 500, #334155);
    font-family: Plus Jakarta Sans;
    line-height: 24px; /* 150% */
}
.main-block__image {
    position: relative;
    animation-name: image-go1;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 1s;
}
@keyframes image-go1 {
    0%{
        right: -1000px;
    }
    100%{
        right: 0px;
    }
}
.main-block__background {
    position: relative;
}
.main-block__background::after{
    content: "";
    @include position(absolute, 422px, 424px);
    top: -10px;
    left: 30px;
    background-image: url(./img/Ellipse\ 2038.png);
    z-index: -1;
}
.main-block__dish {
    padding: 4px 106px 4px 16.24px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 18.15px;
    border-radius: 16.406px;
    background: var(--Full-White, #FFF);
    top: -60px;
    right: -80px;
    box-shadow: 14.12px 18.827px 37.655px 0px rgba(26, 32, 44, 0.15);
}
.main-block__dish::after {
    content: "";
    @include position(absolute, 41.484px, 24px);
    top: -40px;
    right: -50px;
    background-image: url(./img/Illustration\ 01.svg)
}
.dish__title {
    color: var(--Black-Color, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15.586px;
    line-height: 140%; /* 21.82px */
    margin-bottom: 10px;
}
.dish__status {
    @include text-type(9.844px, 500, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 140%; /* 13.781px */
}
.dish__time {
    @include text-type(10.664px, 500, #ACADB9);
    padding: 13.19px 21.72px 11.01px 25.87px;
    position: absolute;
    bottom: 5px ;
    right: 20px;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 140%; /* 14.93px */
}
.main-block__diagramma {
    @include position(absolute, 210px, 206px);
    bottom: 10px;
    left: -70px;
    border-radius: 16.759px;
    border: 0.278px solid var(--Greyscale-200, #EDF2F7);
    background: var(--Others-White, #FFF);
    box-shadow: 14.12px 18.827px 37.655px 0px rgba(26, 32, 44, 0.15);
}
.main-block__diagramma::before {
    content: "";
    @include position(absolute, 38.077px, 33px);
    bottom: -40px;
    left: -50px;
    background-image: url(./img/Illustration\ 02.svg);
}
.diagramma__timing {
    display: flex;
    gap: 7.31px;
    justify-content: center;
    margin-bottom: 30.71px;
}   
.diagramma__period{
    @include text-type(6.85px, 400, #828282);
    padding: 10.96px;
    letter-spacing: 0.068px;
    border-radius: 14.655px;
}
.diagramma__graph {
    position: relative;
    margin-bottom: 15.82px;
}
.diagramma__dot {
    position: absolute;
    top: 20px;
    right: 30px;
}
.diagramma__money {
    @include text-type(5.55px, 600, #FFF);
    padding: 3px 5px 3px 5px;
    position: absolute;
    top: 5px;
    right: 15px;
    border-radius: 16.759px;
    background: #6C5FBC;
}
.diagramma__d {
    display: flex;
    justify-content: center;
    gap: 22.43px;
}
.diagramma__nd{
    @include text-type(6.351px, 400, #828282);
    font-family: Roboto;
}