@import url(./styles/zero.css);
@import url(./styles/style-footer.css);
@import url(./styles/style-header.css);
@import url(./styles/main-block.css);
@import url(./styles/statistic.css);
@import url(./styles/restaurantes.css);
@import url(./styles/dishes.css);
@import url(./styles/purchases.css);
@import url(./styles/customers.css);
@import url(./styles/media.css);
@import url(./styles/app.css);
@import url(./pages/pricing/pricing.css);
@import url(./pages/pricing/media.css);
@import url(./pages/pricing/mbile.css);
@import url(./pages/support/support.css);
@import url(./pages/modal/modal.css);

.container{
    max-width: 1240px;
    margin: 0 auto;
}

body{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    color: var(--base-white, #FFF);
    background: #F9F9F9;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden ;
}
.page {
    padding: 140px 0px 0px 0px;
    flex: 1 1 auto;
}
.page__main-block{
    padding: 119px 10px 130px 10px;
}
.page__statistic {
    padding: 57px 10px 54.7px 10px;
}
.page__customers {
    padding: 116px 10px 216px 10px;
}
