@import url(../styles/zero.css);

.dishes__container {
    padding: 100px 20px 120px 20px;
    border-bottom: 1px solid #CBCBCB;
}
.dishes__title {
    margin-bottom: 76px;
    text-align: center;
}
.dishes__block {
    display: flex;
    justify-content: center;
    gap: 31px;
    margin-bottom: 65px;
}
.dishes__card {
    padding: 26px 18px 31px 18px;
    border-radius: 34.581px;
    border: 1.441px solid var(--Colors-Gray-Gray-2, #F4F4F6);
    background: var(--Pure-White, #FFF);
    box-shadow: 6.848px 82.181px 41.091px 0px rgba(229, 229, 229, 0.70);
    transition-duration: 0.6s;
}
.dishes__card:hover {
    transform: scale(1.1);
}
.card {
}
.card__image {
}
.card__image_mb {
    margin-bottom: 24px;
}
.card__item {
}
.card__category {
    width: 58.896px;
    padding: 3px 6px;
    border-radius: 4.828px;
    background: #F7EDD0;        
    color: #DAA31A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 11.422px;
    font-weight: 400;
    margin-bottom: 5px;
}
.card__category_tr {
    width: 64.375px;
    background: #F7C5BA;
    color: #FB471D;
}
.card__category_sup{
    width: 64.375px;
    color: #309D5B;
    background: rgb(51, 172, 100, 0.2);
}
.card__label {
    color: var(--BLACK, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 23.054px;
    line-height: 37.463px; /* 162.5% */
}
.card__footer {
    display: flex;
}
.card__time {
    color: var(--Grey, #8E97A6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 17.291px;
    font-weight: 400;
    line-height: 23.054px; /* 133.333% */
    margin-right: 34px;
}
.card__rating {
    position: relative;
    color: var(--Grey, #8E97A6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 17.291px;
    font-weight: 400;
    line-height: 23.054px; /* 133.333% */
    margin-bottom: 12px;
}
.card__rating::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 23.054px;
    height: 23.054px;
    background-image: url(./img/Star.svg);
}
.card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__price {
    color: var(--BLACK, #323142);
    font-family: Manrope;
    font-size: 25.936px;
    font-weight: 700;
    line-height: 40.345px; /* 155.556% */
}
.card__price span{
    color: var(--Grey, #8E97A6);
    font-family: Manrope;
    font-size: 18.806px;
}
