@import url(../styles/zero.css);


.customers {
}
.customers__container {
}

.customers__title {
    text-align: center;
    margin-bottom: 80px;
}
.customers__block {
    display: flex;
    gap: 46px;
    align-items: center;
    margin-bottom: 217px;
    
}
.customers__column {
    flex: 0 1 33.333%;
}
.customers__item {
    background-color: #fff;
    padding: 44px 43px 38px 43px;
    border-radius: 20px;
    box-shadow: 5.946px 71.348px 35.674px 0px rgba(229, 229, 229, 0.70);
}
.customers__header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}
.customers__body {
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.customers__foto img {
    border-radius: 50%;
}
.customers__wrapper {
    
}
.customers__name {
    color: #030314;
    font-size: 20.893px;
    font-weight: 500;
    line-height: 31.34px; /* 150% */
}
.customers__long {
    color: #5E5D5D;
    font-family: Quicksand;
    font-size: 16.715px;
    font-weight: 500;
    line-height: 26.117px; /* 156.25% */
}
.customers__icon {
}
.customers__text {
    color: #636363;
    text-align: justify;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.117px; /* 145.094% */
    margin-bottom: 40px;
}

.customers__mail {
    position: relative;
    background-color: #6C5FBC;
    border-radius: 30px;
    padding: 37px 0px 68px 66px;
}
.customers__mail::after {
    content: "";
    position: absolute;
    width: 274.057px;
    height: 276.015px;
    top: 64px;
    right: 72px;
    background-image: url(./img/Food\ Image.png);
}
.customers__label {
    color: #FFF;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 25px;
}
.customers__stroke{
    max-width: 439.733px;;
    padding: 8px 6px 8px 20px;
    display: flex;
    justify-content: space-between;
    gap: 62px;
    border-radius: 14.234px;
    background: #FFF;
    box-shadow: 0px 7.253px 45.333px 0px rgba(0, 0, 0, 0.10);

}
.customers__email {
    color: black;
    font-size: 16.268px;
    font-weight: 400;
    letter-spacing: 0.488px;
    text-transform: capitalize;
}
.customers__email::placeholder {
    
    color: #878787;
    font-size: 16.268px;
    font-weight: 400;
    letter-spacing: 0.288px;
    text-transform: capitalize;
}

.customers__button {
    color: #F7F8FA;
    font-size: 14.752px;
    font-weight: 500;
    letter-spacing: 0.443px;
    text-transform: uppercase;
    padding: 15px 24px ;
    border-radius: 11.253px;
    background: #6C5FBC;
    border: 1px solid #6C5FBC;
    transition-duration: 0.6s;
}
.customers__button:hover {
    color: #6C5FBC;
    background-color: #fff;
}
