@import url(../statistic/statistic.css);


.app {
    
}
.app__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 287px;
    border-bottom: 1px solid #CBCBCB;
    padding: 119.5px 20px 120px 20px;
}
.app__image {
    position: relative;
    animation-name: image-go;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 1s;
}
@keyframes image-go {
    0%{
        left:-600px;
    }
    100%{
        left: 0;
    }
    
}
.app__image::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -50px;
    width: 52.464px;
    height: 61.737px;
    background-image: url(./img/Illustration\ 01.svg);
}
.app__image_back {
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: -1;

}
.app__body {
    max-width: 560px;
}
.app__title {
    color: var(--gray-900, #18181B);
    font-size: 50.923px;
    font-weight: 700;
    line-height: 58.198px; /* 114.286% */
    text-transform: capitalize;
    margin-bottom: 63px;
}
.app__title span {
    color: #6C5FBC;
}
.app__text {
    position: relative;
    padding-left: 20px;
    margin-bottom: 66px;
}
.app__list {
    list-style-type: disc;
}
.app__item {
    color: #676767;
    font-family: Inter;
    font-size: 20.335px;
    font-weight: 400;
    line-height: 30.502px; /* 150% */
}
.app__item:not(:last-child){
    margin-bottom: 28px;
}
.app__button {
    width: 186px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18.062px;
    font-weight: 500;
    line-height: 22.577px; /* 125% */
    text-transform: capitalize;
    border-radius: 14.675px;
    background: #6C5FBC;
    gap: 15px;
    border: 1px solid #6C5FBC;
    transition-duration: 0.8s;
}
.app__button:hover {
    transform: scale(1.1);   
}
.app__text::after{
    content: "";
    position: absolute;
    top: 280px;
    right: 500px;
    width: 100px;
    height: 104.5px;
    background-image: url(./img/Vector\ 14.svg);
    transform: rotate(40deg);
    
}