@import url(../styles/zero.css);


.restaurantes__container {
    border-bottom: 1px solid #CBCBCB;
    padding: 100px 0px 120px 0px;
}
.restaurantes__title {
    margin-bottom: 85px;
    line-height: 25.558px; /* 56.797% */
    text-align: center;
}
.title {
    color: #323142;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
}
.title span {
    color: #6C5FBC;
}
.restaurantes__block {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 65px;
}
.restaurantes__column {
    border-radius: 30.023px;
    transition-duration: 0.6s;
    border: 1.251px solid var(--Colors-Gray-Gray-2, #F4F4F6);
    background: var(--Pure-White, #FFF);
    box-shadow: 5.946px 71.348px 35.674px 0px rgba(229, 229, 229, 0.70);
    overflow: hidden;
}
.restaurantes__column:hover {
    transform: scale(1.1);
}
.restaurantes__item {
    padding: 14px 20px 17px 14px;
}
.restaurantes__category {
    width: 65.876px;
    padding: 3px 10px;
    border-radius: 5.4px;
    background: #F7EDD0;
    color: #DAA31A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12.776px;
    font-weight: 400;
}
.restaurantes__category_sec{
    width: 74.097px;
    background: #F7C5BA;
    color: #FB471D;
}
.restaurantes__label {
    color: var(--BLACK, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 25.786px;
    line-height: 41.903px; /* 162.5% */
    margin-bottom: 3px;
}
.restaurantes__footer {
    display: flex;
    align-items: center;

}
.restaurantes__time {
    color: var(--Grey, #8E97A6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 19.34px;
    font-weight: 400;
    line-height: 25.786px; /* 133.333% */
    margin-right: 40px;
}
.restaurantes__rating {
    position: relative;
    color: var(--Grey, #8E97A6);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 19.34px;
    font-weight: 400;
    line-height: 25.786px; /* 133.333% */
    margin-right: 176px;
}

.restaurantes__rating::before{
    content: "";
    width: 25.786px;
    height: 25.786px;
    position: absolute;
    top: 0;
    left: -30px;
    background-image: url(./img/Star.svg);
}
.all{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    color: var(--Dark-Grey, #ACADB9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.184px; /* 225.921% */
    letter-spacing: -0.1px;
}          
.restaurantes__all_link{
    padding-right: 30px;
    position: relative;
    display: inline-block;
    color: var(--Dark-Grey, #ACADB9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.184px; /* 225.921% */
    letter-spacing: -0.1px;
}
.restaurantes__all_link::after {
    content: "";
    position: absolute;
    right:5px;
    top: 12px;
    width: 10px;
    height: 20px;
    background-image: url(./img/Vector.svg);
}
